.column.is-4-tablet.is-3-desktop.is-2-widescreen
    nav.menu
        p.menu-label Menu
        ul.menu-list
            li
                a(href='/') Dashboard
                a(href='/about') About
                a(href='/newsletters') Newsletters
                a(href='/contact') Contact
