nav.navbar.has-shadow
    .navbar-brand
        .navbar-item
            img(src='/images/siyu-logo.png', width='112px' height='28px')
        .navbar-burger
            span
            span
            span
    .navbar-menu
        .navbar-start
            .navbar-item
                small Weekly financial newsletters