extends layouts/base

block content
    form(method='POST')
        .field
            .field
                label.label Name
                .control
                    input.input.is-large(type='text', name='name', placeholder='Billy Joe', required)
            .field
                label.label Comment
                .control
                    textarea.textarea(name='comment',
                    placeholder='Please kindly leave your comments', required)
            .field
                label.label Rating
                .control
                    input.input.is-large(type='number', name='rating', placeholder=1 required)
            .field
                button.button.is-primary Add Comment
